.header__lang-link {
  margin: 0;
  padding: 0;
  color: var(--text-color_bright);
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 1.17em;
  text-decoration: none;
}
@media (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.1em;
  }
}
