.cover__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background: rgba(42, 44, 47, 0.3);
  aspect-ratio: 8/5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color__bright);
}

.cover__link:hover {
  background: rgba(42, 44, 47, 0.8);
}
