.photo-grid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: grid;
  justify-items: center;
  grid-template-columns:repeat(auto-fill, minmax(284px, 1fr));
  gap: 1rem;
}

@media (max-width: 1024px){
  .photo-grid {
    grid-template-columns:repeat(auto-fill,minmax(352px, 1fr));
    gap: .875rem;
  }
}

@media (max-width: 768px){
  .photo-grid {
    grid-template-columns:repeat(auto-fill,minmax(352px, 1fr));
    gap: 1rem;
  }
}

@media (max-width: 320px){
  .photo-grid {
    grid-template-columns:repeat(auto-fill,minmax(288px, 1fr));
    gap: .75rem;
  }
}