.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  align-self: center;
}

@media (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
  }
}

@media (max-width: 900px) {
  .photo-grid {
    max-width: 720px;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
  }
}
