.places__image {
  margin: 0 auto;
  padding: 0;
  max-height: 460px;
  grid-area: image;
  aspect-ratio: 1/1;
  align-self: baseline;
}

@media (max-width: 1024px) {
  .places__image {
    max-height: 440px;
  }
}

@media (max-width: 950px) {
  .places__image {
    max-height: 390px;
  }
}

@media (max-width: 768px) {
  .places__image {
    padding-bottom: 50px;
    max-height: 340px;
  }
}

@media (max-width: 732px) {
  .places__image {
    max-height: 320px;
    padding-bottom: 32px;
    align-self: center;
  }
}
