.main {
  /* border: 1px double blue; */
  display: grid;
  justify-content: center;
  gap: 92px;
}

@media (max-width: 768px) {
  .main {
    gap: 88px;
  }
}

@media (max-width: 320px) {
  .main {
    gap: 64px;
  }
}
