.header__logo {
  margin: 0;
  padding: 0;
  width: 176px;
  aspect-ratio: 44/13;
  background: url(../images/logo.svg) 0 0 no-repeat;
}

@media (max-width: 320px) {
  .header__logo {
    width: 142px;
    aspect-ratio: 71/21;
  }
}
