.lead__title {
  text-align: center;
  margin: 0 auto;
  padding: 0 0 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04em;
  max-width: 720px;
}
@media (max-width: 732px) {
  .lead__title {
    max-width: 100%;
    padding-bottom: 16px;
    font-size: 2.5rem;
    line-height: 1.1em;
  }
}
