.lead__title {
  text-align: center;
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04em;
  max-width: 720px;
  grid-area: title;
}
@media (max-width: 760px) {
  .lead__title {
    max-width: 100%;
    font-size: 2.5rem;
    line-height: 1.1em;
  }
}
