.lead__main-image {
  padding: 0;
  margin: 0 auto;
  aspect-ratio: 8/5;
  max-width: 984px;
}

@media (max-width: 1024px) {
  .lead__main-image {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .lead__main-image {
    max-width: 768px;
    transform: translateX(-24px);
  }
}

@media (max-width: 320px) {
  .lead__main-image {
    max-width: 320px;
    transform: translateX(-16px);
  }
}
