.lead__main-image {
    border: 1px solid white;
    margin: 64px 0 8px;
    padding: 0;
}

@media (max-width: 1024px) {
    .lead__main-image {
        margin: 56px 0 8px;
    }
}

@media (max-width: 320px) {
    .lead__main-image {
        margin: 40px 0 8px;
    }
}