.places__items {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 80px;
}

@media (max-width: 768px) {
  .places__items {
    gap: 72px;
  }
}

@media (max-width: 320px) {
  .places__items {
    gap: 50px;
  }
}
