.intro {
    border: 1px solid red;
    margin: 0 auto;
    text-align: left;
    padding: 92px 0;
    max-width: 984px;
}

@media (max-width: 768px){
    .intro {
        padding: 88px 0;
    }
}

@media (max-width: 320px){
    .intro {
        padding: 64px 0;
    }
}