.intro {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: 100px 690px;
  grid-template-areas: ". info";
}

@media (max-width: 1024px) {
  .intro {
    grid-template-columns: 48px 690px;
  }
}

@media (max-width: 768px) {
  .intro {
    grid-template-columns: 24px 720px;
  }
}

@media (max-width: 700px) {
  .intro {
    grid-template-columns: 16px 288px;
  }
}
