.intro {
  font-family: "Inter", Arial, sans-serif;
  max-width: 984px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 690px;
}

@media (max-width: 800px) {
  .intro {
    grid-template-columns: 720px;
    justify-content: center;
  }
}

@media (max-width: 760px) {
  .intro {
    grid-template-columns: 288px;
  }
}
