.lead__subtitle {
  text-align: center;
  margin: 0;
  padding: 32px 0 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.2em;
  max-width: 640px;
  grid-area: subtitle;
}

@media (max-width: 960px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media (max-width: 760px) {
  .lead__subtitle {
    font-size: 1rem;
    line-height: 1.25em;
    padding-top: 16px;
    padding-bottom: 40px;
  }
}
