.cover {
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  aspect-ratio: 8/5;
  background-image: url(/images/trainz.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
