.cover {
  margin: 12px 0 0;
  padding: 0;
  aspect-ratio: 8/5;
  background-image: url(/images/trainz.png);
  background-repeat: no-repeat;
  overflow: visible;
  justify-self: center;
  max-width: 100%;
}

/* @media (max-width: 1024px) {
  .cover {
    min-height: 640px;
  }
} */

@media (max-width: 768px) {
  .cover {
    /* min-height: 480px; */
    /* transform: translateX(-24px); */
    margin-top: 16px;
  }
}

@media (max-width: 320px) {
  .cover {
    max-width: 320px;
    margin-top: 4px;
  }
}