.places__place {
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, max-content));
  column-gap: 40px;
}
