.places__place {
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-areas:
    "title website"
    "image paragraph"
    "image paragraph";
}

@media (max-width: 320px) {
  .places__place {
    grid-template-areas:
      "title"
      "image"
      "website"
      "paragraph"
      "paragraph";
  }
}
