.places__place {
  border: 1px solid red;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-template-areas:
    "title url"
    "picture paragraph"
    "picture paragraph";
    column-gap: 40px;
}
