.cover__title {
  padding: 0;
  margin: 0;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.06em;
  max-width: 560px;
}

@media (max-width: 767px) {
  .cover__title {
    max-width: 288px;
    font-size: 2rem;
    line-height: 1.09em;
    padding: 0 0 16px;
  }
}
