.cover__title {
  text-align: center;
  margin: 0;
  padding: 0 0 32px;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
  max-width: 560px;
}

@media (max-width: 565px) {
  .cover__title {
    max-width: 100%;
    font-size: 2rem;
    line-height: 109%;
    padding: 0 0 16px;
  }
}
