.footer {
  font-family: "Inter", Arial, sans-serif;
  margin: 0;
  padding: 92px 0 0;
}

@media (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 64px;
  }
}
