.places__url-heading {
  margin: 0;
  padding: 12px 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1em;
  color: #aaa;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}
